<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <link rel="stylesheet" th:href="@{/libraries/bootstrap-4.6.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>Quản lý cửa hàng</h1>
<ul class="mt-3 d-flex p-4 justify-content-around" style="background-color: #ccc">
    <li><a th:href="@{/category}">Quản lý danh mục</a></li>
    <li><a th:href="@{/product}">Quản lý Sản phẩm</a></li>
    <li><a th:href="@{/bill}">Quản lý đặt hàng</a></li>
</ul>
</body>
</html>